html,
body,
.mainContainer {
  height: 100%;
  width: auto;
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  background: rgb(46, 63, 87);
  background: linear-gradient(
    180deg,
    rgb(47, 67, 95) 0%,
    rgb(34, 46, 63) 50%,
    rgb(13, 18, 26) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

/*SIDEBAR SECTION*/
.sideCont {
  min-width: 200px;
  flex-shrink: 0;
  z-index: 1;
}

.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 225px;
  background-color: black;
  z-index: 5;
  text-align: start;
  padding-left: 10px;
  display: flex;
  flex-flow: column nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.navbar.fixed-left .navbar-collapse .navbar-nav a,
.nav-item a,
.myLink {
  color: rgb(145, 145, 145) !important;
  transition: 0.3s;
}

.navbar.fixed-left .navbar-collapse .navbar-nav a:hover,
.nav-item a:hover {
  color: white !important;
}

.navbar.fixed-left .navbar-brand {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.center {
  justify-content: center;
  padding-left: 30px;
}

@media screen and (max-width: 576px) {
  .navbar.fixed-left {
    width: 170px;
  }

  .sideCont {
    min-width: 170px;
  }

  .center {
    padding-left: 10px;
  }
}

@media screen and (max-width: 992px) {
  .nav-item {
    font-size: x-small;
  }
}

ul {
  list-style-type: none;
  padding-left: 3px;
}

.nav-btn {
  margin-bottom: 20px;
  text-align: center;
}

.signup-btn {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 20px;
  width: 180px;
  margin-bottom: 20px;
}

.signup-btn:hover {
  color: white;
  background-color: rgb(66, 214, 66);
  border: 2px solid rgb(45, 153, 45);
}

.login-btn {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  width: 180px;
  margin-bottom: 20px;
}

.login-btn:hover {
  border: 2px solid white;
  background-color: rgb(46, 46, 46);
}

@media screen and (max-width: 576px) {
  .signup-btn,
  .login-btn {
    width: 140px;
  }
}

.light-grey {
  color: #888888;
}

/* BOTTOM PLAYER SECTION*/

.bg-container {
  background-color: #282828;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 230px !important;
}

.playerControls a img {
  width: 14px;
  margin-top: 1rem;
  filter: brightness(60%);
}

.playerControls a:hover {
  filter: brightness(75%);
  color: #363535 !important;
}

.playBar p {
  margin-bottom: 20px;
  color: white;
}

.progress {
  color: white;
  background-color: #414141;
  height: 3px !important;
}

/*MAIN PAGE SECTION*/

.myElements {
  text-align: center;
  margin-bottom: 350px;
}

.mainLinks {
  margin-top: 1.5rem;
  justify-content: space-evenly;
}

.mainLinks a {
  color: white;
  font-weight: 700;
  font-size: 12px;
  opacity: 0.3;
}

.mainLinks a:hover {
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
}

.imgLinks a p,
.mainPage p a {
  padding-top: 8px;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

.mainPage p a:hover {
  color: rgb(138, 138, 138);
}

.imgLinks a:hover {
  text-decoration: none;
}

.imgLinks a img:hover {
  filter: brightness(50%);
}

#rock,
#pop,
#hiphop,
#searchResults,
#artist-tracks {
  color: white;
  font-weight: 600;
  padding-top: 20px;
}

.trackHover:hover {
  opacity: 90%;
  font-size: large;
  cursor: pointer;
}

.trackHover a,
.noDecoration {
  text-decoration: none;
  color: white;
}

/* ALBUM PAGE */

@media screen and (max-width: 767px) {
  .AlbumPageMainRow {
    flex-direction: column;
  }
}

#btnPlay {
  font-weight: 700;
  width: 130px;
  height: 46px;
  border-radius: 23px;
}

.btnLike {
  border-radius: 0;
}

.duration {
  float: right;
}

.mainButton {
  border: 1px solid #fff !important;
  border-radius: 20px !important;
  height: 2.2em !important;
  width: 7em;
  text-align: center;
  padding: 0px 10px !important;
}

.titleMain {
  color: white;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

#followers {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.artistProfileImage {
  width: 100%;
}

.album-title {
  color: white;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0;
}

.artist-name {
  color: white;
}

.mainPage img {
  width: 200px;
}
